page-blog {
    .toolbar-title-md{
        color: black;
    }

    .paddingfix{
        padding-left: 9%;
    }
    .leftpane{
        background-color: #46529d;
        color: white;

        .writer{
            margin-top: 30%;
            ion-col{
                font-size: 1.5em;
                color: #fbec00;
                font-family: Roboto;
                font-weight: 600;
            }
        }
        .blogtitle{
            line-height: 1.5;
            font-size: 2em;
            font-weight: 100;
            font-family: Roboto;
        }
        button{
            background: none;
            box-shadow: none;
            font-size: 2rem;
            &:hover{
                background-color: none !important;
                box-shadow: none;
            }
        }
        .button-md:hover:not(.disable-hover){
            background-color: none !important;
        }

    }

    .rightpane{
        padding:0;
        .imageContainer{
            max-height: 30%;
        }

        .paddingfixRight{
            padding-top: 4%;
            padding-left:6%;
        }

        .blog-data{
            color: #878db4;
            font-size:1.2em;
            letter-spacing: 3px;
        }
    }

    .grid{
        padding: 0px;
    }

    .blog-title{
        color: #46529d;
        font-size: 2.3em;
        letter-spacing: 3px;
    }

    .onlyText{
        color: #f1f4ff;
    }
}
