page-contact {
    font-family: Roboto;
    .toggle-btn{
        background: none !important;
        box-shadow: none !important;
        color: #46529d;
        font-size: 1.5em;
        &:hover{
            background: none !important;
        }
    }
    .contact-form{
        padding-bottom: 2em;
        justify-content: space-around;
        padding-top: 2em;
        .form-button{
            justify-content: center;
            padding-top: 2em;
        }
    }
    hr {
        border:none;
        border-top:2px solid #46529d;
        color:#fff;
        background-color:#fff;
        height:1px;
        width:50%;
      }

      .titleparent{
          margin-top: 5%;
        .contacttitle{
            font-size: 4em;
        }
        .description{
            ion-col{
                margin-top: 1% !important;
            }
        }

        .forminput{
            margin-top: 8%;
            color: red;
        }
        #map{
            height: 100%;
        }

        span{
            margin-left: 3%;
        }
        .font{
            font-size: 1.5em !important;
        }
      }
      
}
