page-home {
    .heading{
        font-size: 5rem;
        font-weight: 600;
    }
    .sub-heading{
        font-size: 4rem;
        line-height: 1.5;
        margin: 0.5rem;
    }
    ion-header{
        padding: 60px 0;
        &:after{
            background: none !important;
        }
        color: #fff;
    }
    .toolbar-background{
        background: none;
    }
    font-family: 'Lato' ;
    .scroll-content{
        margin: 0 !important;
    }
    .top-section{
        background-image: url("../../assets/imgs/hero_1.jpg");
        background-size: cover;
        height: 100vh;
        min-height: 700px;
        width: 100%;
        justify-content: center!important;
        display: flex;
        align-items: center;
        color: #fff;
        &.overlay{
            &:before{
                background: rgba(0, 0, 0, 0.45);
                content: "";
                position: absolute;
                height: 100vh;
                min-height: 700px;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }
    }
}
